@import "~@angular/material/theming";

@import "../../material-theme.scss";

$theme-background: map_get(map_get($vk-app-theme, background), background);

$header-color: darken($theme-background, 35%);

$theme-accent-default: map_get($vk-app-accent, default);

div {
  margin: 32px auto 16px;
  display: flex;
  max-width: 90%;
  .page-header-text {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: $theme-accent-default;
  }
  .page-header-hr {
    background-color: $theme-accent-default;
    display: inline-block;
    width: 80%;
    height: 1px;
    margin: auto;
  }
}
