div.records-flex-grid {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 90%;
  margin: auto;
}

vk-record-card {
  margin: 2%;
  min-width: 200px;
  min-height: 200px;
}
