@import "~@angular/material/theming";

@import "../../material-theme.scss";

$dark-background-color: map_get(map_get($vk-app-theme, background), background);

md-card-content::after {
  display:block;
  position:absolute;
  z-index: 3;
  background-color: $dark-background-color;
  opacity:0;
  width:200%;
  height:200%;
  content:"";
  top:-50%;
  left:-50%;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

md-card {
  padding: 0;
  min-width: 200px;
  min-height: 200px;
  max-width: 13vw;
  max-height: 13vw;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  &:hover {
    md-card-content::after {
      opacity: 0.7;
    }
  }
}

md-card-title.record-card-text {
  //display: inline;
  position: absolute;
  left:0;
  z-index: 4;
  text-align: center;
  font-size: 24px;
  font-weight:400;
  line-height: 1.3;
  padding: 2px;
}

img {
  display: block;
  position: relative;
  width:100%;
  z-index: 1;
}
