@import "~@angular/material/theming";

@import "../../material-theme.scss";

$background: darken(map_get(map_get($vk-app-theme, background), background), 20%);

md-sidenav-container {
  width:100%;
  height:100%;
  padding:0;
  background-color: $background !important;
}
md-sidenav {
  width:15vw;
  background-color: $background !important;
}
md-list-item {
  padding:1%;
  cursor: pointer;
  .link-text {
    outline-width: 0;
  }
  &:hover {
    background-color: mat-color($vk-app-accent, darker);
    h4, md-icon {
      color: white;
    }
  }
}

.active {
  //background-color: mat-color($vk-app-accent);
  md-icon {
    color: mat-color($vk-app-accent);
  }
}
