<md-sidenav-container>
  <md-sidenav mode="{{this.sideNavMode}}" opened="{{this.sideNavOpen}}">
    <md-list>
      <md-list-item routerLinkActive="active" *ngFor="let item of navigationList" [routerLinkActiveOptions]="{exact: true}">
        <md-icon md-list-icon class="link-icon">{{item.iconName}}</md-icon>
        <h4 class="md-display-4 link-text" routerLink="{{item.path}}" md-line>{{item.text}}</h4>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
