@import "~@angular/material/theming";

@import "../../material-theme.scss";

.prefix {
  padding: 10px;
  cursor: default;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: map_get($vk-app-primary, darker);
  min-height: 30px;
  min-width: 500px;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;

  input {
    background-color: transparent;
    color: white;
    border: none;
    width: 90%;
    &:focus {
      outline-width: 0;
    }
  }
}


::-webkit-input-placeholder {
  color: darken(white, 20%);
  &:active {
    display:none;
  }
}

.selected {
  background-color: map_get($vk-app-accent, default);
  .prefix {
    color: white;
  }
}
